<div id="<%= dom_id system_config %>">
  <div>
    <strong>Points to currency ratio:</strong>
    <%= system_config.points_to_currency_ratio %>
  </div>

  <div>
    <strong>Earn points per currency:</strong>
    <%= system_config.earn_points_per_currency %>
  </div>

  <div>
    <strong>Min redemption threshold:</strong>
    <%= system_config.min_redemption_threshold %>
  </div>

</div>
