<div id="<%= dom_id user_points_balance %>">
  <div>
    <strong>User:</strong>
    <%= user_points_balance.user_id %>
  </div>

  <div>
    <strong>Total points:</strong>
    <%= user_points_balance.total_points %>
  </div>

  <div>
    <strong>Lifetime points:</strong>
    <%= user_points_balance.lifetime_points %>
  </div>

</div>
