<% content_for(:page_title) { "Adjust User Points" } %>
<% content_for(:page_subtitle) { "Modify the points balance for #{@user_points_balance.user&.firstname} #{@user_points_balance.user&.lastname}" } %>

<div class="max-w-xl bg-white border border-gray-200 rounded-xl shadow-sm p-6">
  <%= render "form", user_points_balance: @user_points_balance %>
</div>
