<p style="color: green"><%= notice %></p>

<% content_for :title, "User points balances" %>

<h1>User points balances</h1>

<div id="user_points_balances">
  <% @user_points_balances.each do |user_points_balance| %>
    <%= render user_points_balance %>
    <p>
      <%= link_to "Show this user points balance", user_points_balance %>
    </p>
  <% end %>
</div>

<%= link_to "New user points balance", new_user_points_balance_path %>
