<% content_for :title, "New user points balance" %>

<h1>New user points balance</h1>

<%= render "form", user_points_balance: @user_points_balance %>

<br>

<div>
  <%= link_to "Back to user points balances", user_points_balances_path %>
</div>
