<% content_for :title, "New offer redemption" %>

<h1>New offer redemption</h1>

<%= render "form", offer_redemption: @offer_redemption %>

<br>

<div>
  <%= link_to "Back to offer redemptions", offer_redemptions_path %>
</div>
