<% content_for :title, "Editing earn transaction" %>

<h1>Editing earn transaction</h1>

<%= render "form", earn_transaction: @earn_transaction %>

<br>

<div>
  <%= link_to "Show this earn transaction", @earn_transaction %> |
  <%= link_to "Back to earn transactions", earn_transactions_path %>
</div>
