<p style="color: green"><%= notice %></p>

<% content_for :title, "User stamp cards" %>

<h1>User stamp cards</h1>

<div id="user_stamp_cards">
  <% @user_stamp_cards.each do |user_stamp_card| %>
    <%= render user_stamp_card %>
    <p>
      <%= link_to "Show this user stamp card", user_stamp_card %>
    </p>
  <% end %>
</div>

<%= link_to "New user stamp card", new_user_stamp_card_path %>
