<% content_for :title, "New user stamp card" %>

<h1>New user stamp card</h1>

<%= render "form", user_stamp_card: @user_stamp_card %>

<br>

<div>
  <%= link_to "Back to user stamp cards", user_stamp_cards_path %>
</div>
