<p style="color: green"><%= notice %></p>

<% content_for :title, "Malls" %>

<h1>Malls</h1>

<div id="malls">
  <% @malls.each do |mall| %>
    <%= render mall %>
    <p>
      <%= link_to "Show this mall", mall %>
    </p>
  <% end %>
</div>

<%= link_to "New mall", new_mall_path %>
